:root {
  --header-height: 60px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

#header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#nav-bar {
  margin-right: 1rem;
}

#nav-bar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

#nav-bar ul li a {
  text-decoration: none;
  color: black;
}

#nav-bar ul li a:hover {
  color: blue;
}

#nav-bar ul li a:active {
  color: black;
}

main {
  margin-top: var(--header-height);
  padding: 1rem;
}
